# Git files
.git
.gitignore

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker files
.dockerignore
Dockerfile

# Local files
app/uploads/*
app/data/*
app/static/images/posts/*
app/static/images/profiles/*
*.log
*.csv
*.json

# IDE files
.idea/
.vscode/
*.swp
*.swo

# CI/CD files
.github/

# Keep .gitkeep files
!.gitkeep 