[Unit]
Description=Instagram Influencer Analyzer
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/Insta_influ_analyser
Environment="PATH=/home/ubuntu/Insta_influ_analyser/venv/bin"
ExecStart=/home/ubuntu/Insta_influ_analyser/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8001 wsgi:app
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target 